<!DOCTYPE html>
<html data-bs-theme="auto"><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta name="description" content="Powerful and easy to use drag and drop website builder for blogs, presentation or ecommerce stores">
  <meta name="author" content="">

  <base href="/themes/blog-default/">

  <title>Vvveb</title>

  <link href="css/style.css" rel="stylesheet">


  <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts">
  <link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments">

  <link rel="icon" type="image/x-icon" href="/media/favicon.ico" data-v-global-site-favicon="">

  <link rel="manifest" href="/manifest.webmanifest">

  
  <link rel="stylesheet" href="js/aos.css">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
<style id="vvvebjs-styles"></style></head>


<body class="home" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
  <header id="main-header" data-v-save-global="index.html,#main-header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg p-4">

        <div class="d-flex justify-content-between w-100" data-v-component-site="">          
          <span class="d-lg-none d-block">
          </span>

          <div>
            <a class="navbar-brand d-lg-inline-block pb-0" href="//www.vvveb.net" data-v-url-params="{&quot;host&quot;:&quot;www.*.*&quot;}">
              <img src="/media/logo.png" class="logo-default" data-v-site-logo="">
              <img src="/media/logo.png" class="logo-sticky" data-v-site-logo-sticky="">
              <img src="/media/logo-white.png" class="logo-default-dark" data-v-site-logo-dark="">
              <img src="/media/logo-white.png" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky="">

              <span data-v-site-description-title="">Vvveb</span><h1>Headingas asdasd</h1>
            </a>
            <small class="d-block text-muted" data-v-site-description-description="">The next generation website builder</small>
          </div>

          <div class="text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>


        <div class="collapse navbar-collapse flex-grow-1 text-end" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
          <ul class="navbar-nav ms-auto flex-nowrap" data-v-menu-items="">
            <li class="nav-item dropdown   has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="1" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link   dropdown-toggle" href="" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" "></span>                <span data-v-menu-item-content=""></span>
              </a>

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="2" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item" href="" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" "></span>                    <span data-v-menu-item-content=""></span>
                  </a>
                </div>                
              </div></li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="3" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" "></span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="42" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Home</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="69" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/test" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">test</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="70" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/test2" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">test2</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="71" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/product/test2" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">test2</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="72" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/test2asdasd" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">test2asdasd</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="59" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/about" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">About</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="43" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/shop" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Shop</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown   has-dropdown position-static" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="67" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link   dropdown-toggle" href="/page/about" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Mega menu</span>                <span data-v-menu-item-content=""><p><img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu</p></span>
              </a>

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="68" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item" href="/page/about" data-v-menu-item-url="">
                                        <span data-v-menu-item-content=""><div class="row">
	<div class="col-6 align-self-center"><img src="../../media/posts/4.jpg" alt="Post" width="250" loading="lazy" class="rounded img-fluid"></div>
	<div class="col-6">
		<h4>Features</h4>
		<p class="text-muted">Just a few mentions, but there is more</p>
		<ul class="list-unstyled">
			<li class="text-primary">Page builder</li>
			<li class="text-primary">Mega menu</li>
			<li class="text-primary">Multi language</li>
			<li class="text-primary">Advanced SEO</li>
			<li class="text-primary">Ecommerce</li>
		</ul>
	</div>
</div></span>
                  </a>
                </div>                
              </div></li><li class="nav-item dropdown   has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="63" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link   dropdown-toggle" href="/page/contact" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Services</span>                <span data-v-menu-item-content=""></span>
              </a>

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="64" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item" href="/page/pricing" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Pricing</span>                    <span data-v-menu-item-content=""></span>
                  </a>
                </div><div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="65" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item" href="/page/services" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Services</span>                    <span data-v-menu-item-content=""></span>
                  </a>
                </div><div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="66" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item" href="/page/portfolio" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Portfolio</span>                    <span data-v-menu-item-content=""></span>
                  </a>
                </div>                
              </div></li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="46" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/blog" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Blog</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="49" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/contact" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class=" ">Contact</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li>            

            
            
            
            
            <li class="nav-item ms-3">
              <a id="color-theme-switch" class="nav-link" href="javascript:void(0);" role="button" title="Switch sidebar color theme">
                <i class="la la-sun la-lg"></i>
              </a>
            </li>
            

          </ul>


          <form class="d-flex">

            <div class="input-group">
              
              <span class="input-group-append">
                <button class="btn la-flip-horizontal" type="button">

                  <i class="la la-search"></i>
                </button>
              </span>
            </div>

          </form>
        </div>



      </nav>
    </div>

  </header>


  <main id="site-content" role="main">

    
    <div class="container">

      <div class="row">

        
        <div class="col-md-7 col-lg-8 col-xl-9" data-v-component-posts="popular" data-v-limit="3" data-v-tags="5" data-v-categories="3" data-v-image_size="large">


          

          <article class="card  post-archive-item post " data-v-post="" data-v-if="posts.count > 0" data-v-id="6" data-v-type="post">
            <div class="card-header">

              <a class="post-title" href="/en_US/hello-world-6" data-v-post-url="" title="Mauris viverra cursus ante laoreet eleifend">
                <h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name="">Mauris viverra cursus ante laoreet eleifend adasd</h2>
              </a>


              <div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

                <ul class="post-meta">

                  <li class="post-author meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post author</span>
                      <i class="la la-user"></i>
                    </span>
                    <span class="meta-text">
 By <a href="/author/admin" data-v-post-author-url="">
                        <span data-v-post-display_name="">Admin</span>
                      </a>
                    </span>
                  </li>

                  <li class="post-date meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post date</span>

                      <i class="la la-calendar"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-6" data-v-post-url="" title="Mauris viverra cursus ante laoreet eleifend">
                        <span data-v-post-created_at="">1 year ago</span>
                      </a>
                    </span>
                  </li>
                  <li class="post-comment-link meta-wrapper">
                    <span class="meta-icon">
                      <i class="la la-comment"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-6#comments" data-v-post-comments-url="">
                        <span data-v-post-comment_text="">0 comments</span>
                      </a>
                    </span>
                  </li>

                </ul>

              </div>
            </div>


            <img class="img-fluid" src="/image-cache/posts/6-800x0.jpg" loading="lazy" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200" data-v-post-image="" data-v-if="post.image">
            <div class="card-body">

              <div class="card-text post-content" data-v-post-content="">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis rem accusantium ducimus animi nesciunt expedita omnis aut quas molestias!</h2>
                <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

                <blockquote>
					<p>
						Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.
					</p>
                </blockquote>

                <p>Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div>

            </div>

            <div class="card-footer text-muted">

              <div class="d-flex tags">
                <div data-v-categories="">
                  <div data-v-if="categories > 0" class="me-4 ">
                    <i class="la la-archive"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-categories-cat="">
                        <a href="/cat/software" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Software</span>
                        </a>
                      </li><li data-v-categories-cat="">
                        <a href="/cat/desktops" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Desktops</span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>

                <div data-v-tags="">
                  <div data-v-if="tags > 0" class=" ">
                    <i class="la la-tag"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-tags-tag="">
                        <a href="" data-v-tags-tag-url="">
                          <span data-v-tags-tag-name=""></span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>
              </div>


              
            </div>

          </article><article class="card  post-archive-item post " data-v-post="" data-v-if="posts.count > 0" data-v-id="5" data-v-type="post">
            <div class="card-header">

              <a class="post-title" href="/en_US/hello-world-5" data-v-post-url="" title="Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor">
                <h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name="">Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</h2>
              </a>


              <div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

                <ul class="post-meta">

                  <li class="post-author meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post author</span>
                      <i class="la la-user"></i>
                    </span>
                    <span class="meta-text">
 By <a href="/author/admin" data-v-post-author-url="">
                        <span data-v-post-display_name="">Admin</span>
                      </a>
                    </span>
                  </li>

                  <li class="post-date meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post date</span>

                      <i class="la la-calendar"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-5" data-v-post-url="" title="Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor">
                        <span data-v-post-created_at="">1 year ago</span>
                      </a>
                    </span>
                  </li>
                  <li class="post-comment-link meta-wrapper">
                    <span class="meta-icon">
                      <i class="la la-comment"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-5#comments" data-v-post-comments-url="">
                        <span data-v-post-comment_text="">0 comments</span>
                      </a>
                    </span>
                  </li>

                </ul>

              </div>
            </div>


            <img class="img-fluid" src="/image-cache/posts/5-800x0.jpg" loading="lazy" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200" data-v-post-image="" data-v-if="post.image">
            <div class="card-body">

              <div class="card-text post-content" data-v-post-content="">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis rem accusantium ducimus animi nesciunt expedita omnis aut quas molestias!</h2>
                <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

                <blockquote>
					<p>
                    Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.
					</p>
                </blockquote>

                <p>Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div>

            </div>

            <div class="card-footer text-muted">

              <div class="d-flex tags">
                <div data-v-categories="">
                  <div data-v-if="categories > 0" class="me-4 ">
                    <i class="la la-archive"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-categories-cat="">
                        <a href="/cat/software" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Software</span>
                        </a>
                      </li><li data-v-categories-cat="">
                        <a href="/cat/desktops" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Desktops</span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>

                <div data-v-tags="">
                  <div data-v-if="tags > 0" class=" ">
                    <i class="la la-tag"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-tags-tag="">
                        <a href="" data-v-tags-tag-url="">
                          <span data-v-tags-tag-name=""></span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>
              </div>


              
            </div>

          </article><article class="card  post-archive-item post " data-v-post="" data-v-if="posts.count > 0" data-v-id="4" data-v-type="post">
            <div class="card-header">

              <a class="post-title" href="/en_US/hello-world-4" data-v-post-url="" title="Etiam leo nibh, consectetur nec orci et, tempus tempus ex">
                <h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name="">Etiam leo nibh, consectetur nec orci et, tempus tempus ex</h2>
              </a>


              <div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

                <ul class="post-meta">

                  <li class="post-author meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post author</span>
                      <i class="la la-user"></i>
                    </span>
                    <span class="meta-text">
 By <a href="/author/admin" data-v-post-author-url="">
                        <span data-v-post-display_name="">Admin</span>
                      </a>
                    </span>
                  </li>

                  <li class="post-date meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post date</span>

                      <i class="la la-calendar"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-4" data-v-post-url="" title="Etiam leo nibh, consectetur nec orci et, tempus tempus ex">
                        <span data-v-post-created_at="">1 year ago</span>
                      </a>
                    </span>
                  </li>
                  <li class="post-comment-link meta-wrapper">
                    <span class="meta-icon">
                      <i class="la la-comment"></i>
                    </span>
                    <span class="meta-text">
                      <a href="/en_US/hello-world-4#comments" data-v-post-comments-url="">
                        <span data-v-post-comment_text="">0 comments</span>
                      </a>
                    </span>
                  </li>

                </ul>

              </div>
            </div>


            <img class="img-fluid" src="/image-cache/posts/4-800x0.jpg" loading="lazy" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200" data-v-post-image="" data-v-if="post.image">
            <div class="card-body">

              <div class="card-text post-content" data-v-post-content="">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis rem accusantium ducimus animi nesciunt expedita omnis aut quas molestias!</h2>
                <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

                <blockquote>
					<p>
                    Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.
					</p>
                </blockquote>

                <p>Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div>

            </div>

            <div class="card-footer text-muted">

              <div class="d-flex tags">
                <div data-v-categories="">
                  <div data-v-if="categories > 0" class="me-4 ">
                    <i class="la la-archive"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-categories-cat="">
                        <a href="/cat/books" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Books</span>
                        </a>
                      </li><li data-v-categories-cat="">
                        <a href="/cat/desktops" data-v-categories-cat-url="">
                          <span data-v-categories-cat-name="">Desktops</span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>

                <div data-v-tags="">
                  <div data-v-if="tags > 0" class=" ">
                    <i class="la la-tag"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-tags-tag="">
                        <a href="" data-v-tags-tag-url="">
                          <span data-v-tags-tag-name=""></span>
                        </a>
                      </li>                      
                      
                      
                    </ul>
                  </div>                </div>
              </div>


              
            </div>

          </article>

          

          


          

          


          

          


          

          



          <div data-v-if="posts.count < 1" class=" ">
            <h3 class="text-center py-4 bg-body-tertiary">No posts to display!</h3>
          </div>
          <div data-pagination="" data-v-parent-component="posts" data-v-parent-index="0" data-v-parameters="{}">

            <nav data-v-if="pagecount > 1" class=" ">
              <ul class="pagination pagination-sm justify-content-center" style="--bs-pagination-border-color:transparent;border-top: 1px solid var(--bs-border-color);padding-top: 1rem;">

                

                <li class="page-item pager-prev" data-prev="">

                  <a class="page-link " href="/page/1" aria-label="Previous" title="Previous page" data-page-url="" data-v-if="current_page > 1">
                    <span aria-hidden="true" class="la la-angle-left la-lg"></span>
                    
                  </a>
                </li>



                <li class="page-item active" data-page="">
                  <a class="page-link" href="/page/1" data-page-no="" data-page-url="">1</a>
                </li><li class="page-item " data-page="">
                  <a class="page-link" href="/page/2" data-page-no="" data-page-url="">2</a>
                </li>                
                
                
                

                <li class="page-item pager-next" data-next="">
                  <a class="page-link " href="/page/2" aria-label="Next" title="Next page" data-page-url="" data-v-if="current_page < pagecount">
                    
                    <span aria-hidden="true" class="la la-angle-right la-lg"></span>
                  </a>                </li>

                

              </ul>
            </nav>          </div>


          
          



        </div>

        
        <aside class="col-md-5 col-lg-4 col-xl-3" role="sidebar">

          <div class="sidebar-sticky">
            
            <div class="card">
              
              <div class="card-body">
                <form method="get" action="/search">
                  <input type="hidden" name="type" class="posts">
                  <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search for...">
                    <button class="btn btn-secondary" type="submit">
                      <div class="la-flip-horizontal">
                        <i class="la la-search  la-flip-horizontal"></i>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>

            
            <div class="card" data-v-component-site="">              <h6 class="card-header">About</h6>
              <div class="card-body" data-v-site-description-description="">The next generation website builder</div>
            </div>

            
            <div class="card archives-widget" data-v-component-posts="recent-posts-sidebar" data-v-limit="4">              <div>
                <h6 class="card-header">Recent posts</h6>
                <div class="card-body">
                  <div data-v-post="" data-v-id="6" data-v-type="post">
                    <i class="la la-comment"></i>
                    <a href="/en_US/hello-world-6" data-v-post-url="" title="Mauris viverra cursus ante laoreet eleifend">
                      <span data-v-post-name="">Mauris viverra cursus ante laoreet eleifend</span>
                    </a>
                  </div><div data-v-post="" data-v-id="5" data-v-type="post">
                    <i class="la la-comment"></i>
                    <a href="/en_US/hello-world-5" data-v-post-url="" title="Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor">
                      <span data-v-post-name="">Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</span>
                    </a>
                  </div><div data-v-post="" data-v-id="4" data-v-type="post">
                    <i class="la la-comment"></i>
                    <a href="/en_US/hello-world-4" data-v-post-url="" title="Etiam leo nibh, consectetur nec orci et, tempus tempus ex">
                      <span data-v-post-name="">Etiam leo nibh, consectetur nec orci et, tempus tempus ex</span>
                    </a>
                  </div><div data-v-post="" data-v-id="3" data-v-type="post">
                    <i class="la la-comment"></i>
                    <a href="/en_US/hello-world-3" data-v-post-url="" title="The work is accomplished, and there is no resting in it">
                      <span data-v-post-name="">The work is accomplished, and there is no resting in it</span>
                    </a>
                  </div>                  
                </div>
              </div>
            </div>

            
            <div class="card archives-widget" data-v-component-comments="recent-comments-sidebar" data-v-limit="4" data-v-post_title="true" data-v-order="desc">              <div>
                <h6 class="card-header">Recent comments</h6>
                <div class="card-body">
                  <div data-v-comment="" data-comment_id="1" class=" level-0" id="comment-1">
                    <span data-v-comment-author="">John Doe</span>
                    <span>on</span>
                    <a href="/?route=content/post/index&amp;user_id=1&amp;user_group_id=1&amp;site_id=1&amp;username=johndoe&amp;first_name=John&amp;last_name=Doe&amp;password=%242y%2411%24o52ahesifBsklkPV8eTWSeoKbBHJXxaoDZUIDYiFYdAmHQSyfDM3W&amp;email=john.doe%40mail.com&amp;phone_number=&amp;url=https%3A%2F%2Fvvveb.com&amp;status=1&amp;display_name=johndoe&amp;avatar=&amp;bio=This+is+a+brief+biography&amp;token=&amp;subscribe=0&amp;created_at=2022-05-01+00%3A00%3A00&amp;updated_at=2022-05-01+00%3A00%3A00&amp;comment_id=1&amp;post_id=1&amp;author=John+Doe&amp;ip=&amp;content=This+is+an+approved+comment.%0AThis+comment+is+visible+on+the+hello+world+post+page.&amp;votes=0&amp;type=&amp;parent_id=0&amp;array_key=1&amp;pubDate=Sun%2C+01+May+2022+00%3A00%3A00+%2B0000#comment-1" data-v-comment-url="">
                      <span data-v-comment-name=""></span>
                    </a>
                  </div>                  
                </div>
              </div>
            </div>

            
            <div class="card categories-widget" data-v-component-content-categories="sidebar" data-v-type="categories" data-v-post_type="post">
              <div>
                <h6 class="card-header">Categories</h6>
                <div class="card-body">
                  <ul data-v-cats="">                    <li data-v-cat="">
                      <a href="/cat/toys" data-v-cat-url="" data-v-cat-name="">Toys</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/computers" data-v-cat-url="" data-v-cat-name="">Computers</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/electronics" data-v-cat-url="" data-v-cat-name="">Electronics</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/tablets" data-v-cat-url="" data-v-cat-name="">Tablets</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/home-kitchen" data-v-cat-url="" data-v-cat-name="">Home and Kitchen</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/books" data-v-cat-url="" data-v-cat-name="">Books</a>
                    </li>                                        
                    
                  <li data-v-cat="">
                      <a href="/cat/category-1" data-v-cat-url="" data-v-cat-name="">category 1</a>
                    </li>                                        
                    
                                      
                    
                  </ul>
                </div>
              </div>
            </div>

            
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div>
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <ul data-v-archives="">
                    <li data-v-archive="">
                      <a href="/2022/05" data-v-archive-url="">
                        <span data-v-archive-name="">May 2022 </span>
                      </a>
                    </li><li data-v-archive="">
                      <a href="/2022/06" data-v-archive-url="">
                        <span data-v-archive-name="">June 2022 </span>
                      </a>
                    </li>                    
                    
                    
                  </ul>
                </div>
              </div>
            </div>

            
            <div class="card tags-widget" data-v-component-content-categories="sidebar" data-v-type="tags" data-v-post_type="post">
              <div>
                <h6 class="card-header">Popular tags</h6>
                <div class="card-body">
                  <ul data-v-cats="" class="tags">                    <li data-v-cat="">
                      <a href="/cat/tag-1" data-v-cat-url="" data-v-cat-name="">Tag 1</a>
                    </li>                                        
                    
                    
                  <li data-v-cat="">
                      <a href="/cat/tag-2" data-v-cat-url="" data-v-cat-name="">Tag 2</a>
                    </li>                                        
                    
                    
                  <li data-v-cat="">
                      <a href="/cat/tag-3" data-v-cat-url="" data-v-cat-name="">Tag 3</a>
                    </li>                                        
                    
                    
                                      
                    
                    
                  </ul>
                </div>
              </div>
            </div>


            
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div>
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <select class="form-control" onchange="window.location.href = this.value" data-v-archives="">
                    <option class="text-muted">
                      Select month
                    </option>

                    <option data-v-archive="" value="/2022/05">
                      May 2022 
                    </option><option data-v-archive="" value="/2022/06">
                      June 2022 
                    </option>
                    

                    

                    
                  </select>

                </div>
              </div>
            </div>

          </div>

        </aside>



      </div>
      

    </div>
  </main>

  <footer class="site-footer" data-v-save-global="index.html,.site-footer">
    <div class="container" data-v-component-menu="footer" data-v-menu_id="5">

      <div class="row" data-v-menu-items="">

        <div class="col-md-3">

          <div data-v-component-site="">            <img src="/media/logo-white.png" class="logo-default-dark" data-v-site-logo-dark="">
            <img src="/media/logo.png" class="logo-default" data-v-site-logo="">
          </div>

        </div>


        <div class="col-md-3  " data-v-menu-item="" data-v-if="category.children > 0" data-v-id="1" data-v-component="menu" data-v-type="menu-item">
          <h6 data-v-menu-item-name=""></h6>
                  <nav data-v-menu-item-recursive="">
            <div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="2" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="" data-v-menu-item-url="">
                <span data-v-menu-item-name=""></span>
              </a>
            </div>            
          </nav></div><div class="col-md-3  " data-v-menu-item="" data-v-if="category.children > 0" data-v-id="3" data-v-component="menu" data-v-type="menu-item">
          <h6 data-v-menu-item-name=""></h6>
                  </div><div class="col-md-3  " data-v-menu-item="" data-v-if="category.children > 0" data-v-id="50" data-v-component="menu" data-v-type="menu-item">
          <h6 data-v-menu-item-name="">Vvveb</h6>
                  <nav data-v-menu-item-recursive="">
            <div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="51" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="/" data-v-menu-item-url="">
                <span data-v-menu-item-name="">Home</span>
              </a>
            </div><div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="52" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="/shop" data-v-menu-item-url="">
                <span data-v-menu-item-name="">Shop</span>
              </a>
            </div>            
          </nav></div><div class="col-md-3  " data-v-menu-item="" data-v-if="category.children > 0" data-v-id="53" data-v-component="menu" data-v-type="menu-item">
          <h6 data-v-menu-item-name="">Resources</h6>
                  <nav data-v-menu-item-recursive="">
            <div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="54" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="//dev.vvveb.net" data-v-menu-item-url="">
                <span data-v-menu-item-name="">Developer documentation</span>
              </a>
            </div><div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="55" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="//docs.vvveb.net" data-v-menu-item-url="">
                <span data-v-menu-item-name="">User documentation</span>
              </a>
            </div>            
          </nav></div><div class="col-md-3  " data-v-menu-item="" data-v-if="category.children > 0" data-v-id="57" data-v-component="menu" data-v-type="menu-item">
          <h6 data-v-menu-item-name="">Contact</h6>
                  <nav data-v-menu-item-recursive="">
            <div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="56" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="//.github.com/givanz/VvvebJs" data-v-menu-item-url="">
                <span data-v-menu-item-name="">Github</span>
              </a>
            </div><div data-v-menu-item="" data-v-if="category.children == 0" data-v-id="58" data-v-component="menu" data-v-type="menu-item" class="  ">
              <a href="/blog" data-v-menu-item-url="">
                <span data-v-menu-item-name="">Blog</span>
              </a>
            </div>            
          </nav></div>
        

        



      </div>
      

    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="d-flex flex-column flex-md-row">
          <div class="text-muted flex-grow-1">
            <a class="btn-link text-muted" href="content/page.html" target="_blank">Terms and conditions</a> |
            <a class="btn-link text-muted" href="content/page.html" target="_blank">Privacy Policy</a>
          </div>
          <div class="text-muted">
 © <span data-v-year="">2023</span>
            <span data-v-global-site-title=""></span>. <span>Powered by</span>
            <a href="https://vvveb.com" class="btn-link text-muted" target="_blank">Vvveb</a>
          </div>
        </div>
      </div>
    </div>

  </footer>


  <div class="bg-image"></div>

  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
 Product was added to cart. </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  
  <script src="js/jquery.min.js"></script>
  
  
  <script src="js/bootstrap.min.js"></script>
  
  <script id="app-js" src="../../js/app.js"></script>

  
  <script src="js/aos.js"></script>
  <script>
AOS.init();
</script>

  <script src="js/theme.js"></script>

  <script>
$(document).on("click", ".dropdown-toggle",function (e) { 
	let link = $(this);
	let parent = link.parents(".nav-toggle");
	if (link.hasClass("show")) {
		parent.addClass("show"); 
	} else {
		parent.removeClass("show"); 
	}
});

/*	
setTimeout(function() {
	document.getElementById("screen").attributes["class"].value = "show"
}, 500);

(function() {

  var hamburger = {
    navToggle: document.querySelector('.navbar-toggler'),
    nav: document.querySelector('.navbar-collapse'),

    doToggle: function(e) {
      //e.preventDefault();
      this.navToggle.classList.toggle('show');
      this.nav.classList.toggle('show');
    }
  };

  hamburger.navToggle.addEventListener('click', function(e) { hamburger.doToggle(e); });
  hamburger.nav.addEventListener('click', function(e) { hamburger.doToggle(e); });

}());
*/
</script>





</body></html>